@model Assignment_NRDCL.Models.Order

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderID" />
            <div class="form-group">
                <label asp-for="CustomerCID" class="control-label"></label>
                <input asp-for="CustomerCID" class="form-control" />
                <span asp-validation-for="CustomerCID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceAmount" class="control-label"></label>
                <input asp-for="PriceAmount" class="form-control" />
                <span asp-validation-for="PriceAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TansportAmount" class="control-label"></label>
                <input asp-for="TansportAmount" class="form-control" />
                <span asp-validation-for="TansportAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdvanceBalance" class="control-label"></label>
                <input asp-for="AdvanceBalance" class="form-control" />
                <span asp-validation-for="AdvanceBalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
